
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @bug.priority %>
</p>

<p>
  <strong>Estimated day for completion:</strong>
  <%= @bug.estimated_day_for_completion %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @bug.assigned_to %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @bug.user.user_name %>
</p>

<% if current_user.user_role == "Manager" || current_user.user_role == "Q/A" %>
<%= link_to 'Edit', edit_bug_path(@bug) %> |
<% end %>
<%= link_to 'Back', bugs_path %>
